/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

/* Global */

:root {
  /* Primary Colors */
  --Color-Dark-Cyan: hsl(158, 36%, 37%);
  --Color-Cream: hsl(30, 38%, 92%);

  /* Neutral Colors */
  --Color-Very-Dark-Blue: hsl(212, 21%, 14%);
  --Color-Dark-Grayish-Blue: hsl(228, 12%, 48%);
  --Color-White: hsl(0, 0%, 100%);

  /* Font Size */

  --font-size-paragraph: 1.4rem;

  /* Font Familys */

  --Font-Family-Primary: "Montserrat", sans-serif;
  --Font-Family-Secondary: "Fraunces", serif;
}

/* Global */

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Color-Cream);
  font-family: var(--Font-Family-Primary);
  height: 100vh;
}

/* Main */

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  height: 80%;
}

/* Card */

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--Color-White);
  border-radius: 10px;
}

.card__img img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.card__text {
  padding: 20px;
}

.card__text h3 {
  margin-bottom: 10px;
}

.card__text h1 {
  margin-bottom: 10px;
}

.card__text p {
  margin-bottom: 20px;
}

.card__price {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card__text h2 {
  margin-right: 25px;
}
